<template>
  <q-page>
    <EmergencyList />
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import EmergencyList from 'components/EmergencyList.vue'

export default defineComponent({
  name: 'PageIndex',

  components: {
    EmergencyList
  },
})
</script>
