<template>
  <div class="col-12 q-pb-sm">
    <q-card>
      <q-card-section class="text-white" :class="{'bg-red': isFireDept, 'bg-amber': isEMS}">
        <div class="text-h6">{{ messageReadable }}</div>
        <PriorityInfo
          :priority="info.priority"
        />
      </q-card-section>
      <q-card-section class="q-pt-none">
        <h3 class="text-subtitle2 q-mb-none">Eenheden:</h3>
        <div class="q-ml-xs">
          <RespondingUnit
            v-for="unit of info.units"
            v-bind:key="unit.id"
            :unit="unit"
          />
        </div>

        <div v-if="isEMS">
          <h3 class="text-subtitle2 q-my-none">
            Directe inzet ambulance: {{ (isDIA || info.priority === 1) ? 'ja' : 'nee' }}
          </h3>
        </div>

        <h3 class="text-subtitle2 q-my-none">Datum: {{ createdAt }}</h3>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import {defineComponent} from 'vue'
import RespondingUnit from 'components/RespondingUnit'
import PriorityInfo from 'components/PriorityInfo'

export default defineComponent({
  name: 'EmergencyInfo',

  components: {
    RespondingUnit,
    PriorityInfo
  },

  props: {
    info: {
      type: Object,
      default: ({}) => {
      }
    }
  },

  created () {
    console.log(this.info)
  },

  computed: {
    isEMS () {
      return this.info.service === 'AMBULANCE'
    },
    isFireDept () {
      return this.info.service === 'FIRE'
    },
    isDIA () {
      return /DIA|Directe Inzet/i.test(this.info.message)
    },
    createdAt () {
      return this.$moment(this.info.created_at).tz('Europe/Amsterdam').format('DD-MM-YYYY HH:mm')
    },
    messageReadable () {
      return this.info.message
        .replace(/^(([ABP ]{1,2}[1-3])|prio[ 1-3]{1,2})[ ]{0,1}/ig, '') // replace the priority
        .replace(/((\(DIA.*\))|(Directe inzet)|(Directe inzet ambulance))[ ]{0,1}/ig, '') // replace DIA
        .replace(/^[0-9 ]+/, '')
    }
  }
})
</script>
