<template>
  <div class="row q-pa-md">
    <EmergencyInfo
      v-for="emergency of emergencies"
      v-bind:key="emergency.id"
      :info="emergency"
    />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import EmergencyInfo from 'components/EmergencyInfo';

export default defineComponent({
  name: 'EmergencyList',

  components: {
    EmergencyInfo
  },

  computed: {
    emergencies() {
      return this.$store.getters['echo/emergencies']
    }
  }
})
</script>
