<template>
  <div class="text-subtitle2">
    Prio {{ priority }} - {{ translatedPriority }} -
    <div v-if="priority === 1">
      <q-icon name="mdi-bullhorn" size="sm" color="white"></q-icon>
      <q-icon name="mdi-alarm-light" size="sm" color="white"></q-icon>
    </div>
    <div v-else-if="priority === 2" >
      <q-icon name="mdi-alarm-light" size="sm" color="white"></q-icon>
    </div>
    <div v-else-if="priority === 3">
      <q-icon name="mdi-alarm-light-off" size="sm" color="white"></q-icon>
    </div>
  </div>
</template>

<script>
export default {
  name: "PriorityInfo",

  props: {
    priority: {
      type: Number,
      default: -1
    }
  },

  mounted () {

    let toggle = true

    setInterval(() => {
      if (toggle) {
        document.querySelectorAll('.mdi-alarm-light').forEach(element => {
          element.classList.add('mdi-alarm-light-outline')
          element.classList.remove('mdi-alarm-light')
        })

        document.querySelectorAll('.mdi-bullhorn').forEach(element => {
          element.classList.add('mdi-bullhorn-outline')
          element.classList.remove('mmdi-bullhorn')
        })
      } else {
        document.querySelectorAll('.mdi-alarm-light-outline').forEach(element => {
          element.classList.remove('mdi-alarm-light-outline')
          element.classList.add('mdi-alarm-light')
        })

        document.querySelectorAll('.mdi-bullhorn-outline').forEach(element => {
          element.classList.remove('mdi-bullhorn-outline')
          element.classList.add('mdi-bullhorn')
        })
      }

      toggle = !toggle
    }, 1500)
  },

  computed: {
    translatedPriority () {
      return {
        1: 'hoge spoed',
        2: 'gepaste spoed',
        3: 'geen spoed'
      }[this.priority]
    }
  }
}
</script>

<style scoped>
div {
  display: inline-block
}
</style>
