<template>
  <div>
    <span @click="prompt = !prompt">
      {{ unit.id }}
      <span v-if="unit.name"> - {{ unit.name }}</span>
      <span v-if="unit.region"> - {{ unit.region }}</span>
      <span v-if="unit.district"> - {{ unit.district }}</span>
      <q-icon name="mdi-pencil" class="q-ml-xs" size="xs" color="grey-8" v-if="unit.name"></q-icon>
      <q-icon name="mdi-help-rhombus" class="q-ml-xs" size="xs" color="grey-8" v-else></q-icon>
    </span>

    <q-dialog v-model="prompt" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Gebruiker capcode {{ unit.id }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input dense v-model="capcode.name" autofocus @keyup.enter="prompt = false"/>
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup/>
          <q-btn flat label="Add address" v-close-popup/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  name: "RespondingUnit",

  props: {
    unit: {
      type: Object,
      default: () => ({})
    }
  },

  data: () => ({
    prompt: false,
    capcode: {
      name: null,
      region: null
    }
  }),

  created () {
    this.capcode = {
      name: this.unit.name,
      region: this.unit.region,
    }
  }
}
</script>

<style scoped>

</style>
