<template>
  <router-view/>
</template>
<script>
import {defineComponent} from 'vue'
import {useQuasar} from 'quasar'

export default defineComponent({
  name: 'App',

  created () {
    this.$echo
      .channel('Pager')
      .listen('NewEmergencyNotification', this.processNotification)
      .subscribed(() => {

      })
  },

  methods: {
    processNotification ({ emergency }) {
      this.$store.commit('echo/addEmergency', emergency)
      console.log(this.$store.getters['echo/emergencies'])

      const icon = {
        'AMBULANCE': 'mdi-ambulance',
        'FIRE': 'mdi-fire-truck',
      }[emergency.service]

      this.$q.notify({
        icon,
        message: `Nieuwe prio ${emergency.priority} melding`,
        position: 'top-right',
        progress: true
      })
    }
  },

  setup () {
    const $q = useQuasar()

    $q.notify({
      icon: 'mdi-check',
      message: 'Verbonden met live-feed',
      position: 'top-right',
      progress: true,
      badgeTextColor: 'success',
    })
  }
})
</script>
